
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #fdfdfd;
    color: #222;
    line-height: 1.6;
  }
  
  /* Headers */
  header {
    background: linear-gradient(to right, #2b5876, #4e4376);
    color: white;
    padding: 3rem 2rem;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  header p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0.5rem auto;
  }
  
  /* our names */
  .team-names {
    font-size: 0.95rem;
    color: #e0e0e0;
    font-style: italic;
    margin-top: 1rem;
  }
  
  /* layout */
  main {
    max-width: 960px;
    margin: 2rem auto;
    padding: 0 1.5rem;
  }
  
  /* sections */
  h2 {
    font-size: 1.6rem;
    color: #444;
    border-bottom: 2px solid #eee;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
  }
  
  .section {
    margin-bottom: 3rem;
  }
  
  .collapsible-box {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .collapsible-btn {
    width: 100%;
    background-color: #2b5876;
    color: white;
    font-weight: bold;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
    border-radius: 10px 10px 0 0;
  }
  
  .collapsible-btn:hover {
    background-color: #4e4376;
  }
  
  .collapsible-content {
    padding: 20px;
    display: none;
    transition: all 0.3s ease;
    flex-grow: 1;
  }

  /* adding space between paragraph */
  .collapsible-content p {
    margin-bottom: 1rem;
  }
  

 